body {
  color: #FFF;
  background-color: #333;
  font-family: Helvetica, sans-serif;
  margin: 0;
}

#menu {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 52px;
}

#library {
  display: none;
  height: 200px;
  background-color: #444;
  border-bottom: 4px #111 solid;
}

.row {
  clear: both;
  height: 200px;
}

.box {
  float: left;
  width: 180px;
  height: 180px;
  margin: 5px;
  padding: 5px;
  background-color: #4D0F4D;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  text-align: center;
  position: relative;
}

.loading {
  background-color: transparent;
}

.red {
  background-color: #660A0A;
}

.green {
  background-color: #0A660A;
}

.box .back {
  display: none;
}

.box .front > div {
  position: absolute;
  width: 180px;
  text-align: center;
}

.box .name {
  position: static;
  font-size: 1.5em;
}

.box .line1 {
  top: 45px;
}

.box .progress {
  width: 150px;
  height: 25px;
  position: absolute;
  top: 78px;
  left: 15px;
  background-color: #777;
  border: 1px #000 solid;
}

.box .progress .progress-inner {
  height: 25px;
  width: 0;
  background-color: #0F9999;
}

.box .line2 {
  top: 125px;
}

.box .status {
  bottom: 5px;
  font-size: 1.3em;
}

.placeholder {
  background-color: #777;
}

#trash {
  position: fixed;
  bottom: 5px;
  right: 5px;
  display: none;
  z-index: 1001;
}

#trash.hover {
  background-color: #DDD;
}
