<!DOCTYPE html>
<html>
  <head>
    <title>Status Board</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <script src="/static/statusboard.js"></script>
    <link rel="stylesheet" href="/static/statusboard.css" type="text/css" />
    {% for path in css %}<link rel="stylesheet" href="/plugin/static/{{ path }}" type="text/css" />
    {% endfor %}
    {% for path in js %}<script src="/plugin/static/{{ path }}"></script>
    {% endfor %}
  </head>
  <body>
    <div id="menu"><div id="menu-inner">
      <img id="menu-edit" src="/static/icons/gear.png" />
      <a id="menu-login" href="/login"><img src="/static/icons/key.png" /></a>
    </div></div>
    <div id="library">
      {% for widget in library %}
      <div class="library-inner">
        {{ widget.output }}
        <div class="library-title">{{ widget.name.title() }}</div>
      </div>
      {% endfor %}
      <hr class="divider" />
    </div>
    {% for row in grid %}
    <div id="row{{ loop.index0 }}" class="row">
      {% for widget in row %}
      {{ widget.output }}
      {% endfor %}
    </div>
    {% endfor %}
    <div id="trash"><img src="/static/icons/trash.png" /></div>
  </body>
</html>
